

#archive
{
  $itemWidth: 55px;
  $border: 3px;
  
  background: white;
  padding: 20px;
  
  
  .year
  {
    position: relative;
    margin-bottom: 60px;
    
    &:last-child
    {
      margin-bottom: 0;
    }
    
    > time
    {
      font-size: 24px;
      margin: 30px 0 30px 40px;
      color: $primaryColor;
      display: block;
      
      &:first-child
      {
        margin-top: 0;
      }
    }
    
    i
    {
      display: none;
    }
    
    > div
    {
      @extend %clearfix;
      min-height: $itemWidth + 20px;
      
      time
      {
        width: $itemWidth;
        height: $itemWidth;
        background: $primaryColor;
        @include border-radius($itemWidth 0 $itemWidth $itemWidth);
        text-align: center;
        line-height: 1;
        color: white;
        display: inline-block;
        position: relative;

        .month
        {
          display: block;
          margin-top: 12px;
          font-size: 12px;
          
          &:before
          {
            display: none;
          }
        }
        
        .day
        {
          font-size: 20px;
        }
        
        a
        {
          color: white;
          text-decoration: none;
        }
      }
    }
    

    .timeline
    {
      border-right: $border solid $textColor;
      float: left;
      width: $itemWidth + 15;
      padding: 20px 0;
      margin-right: 20px;
    }
    
    > div:last-child .timeline
    {
      padding-bottom: 30px;
    }
  }
  
  .bottom
  {
    position: absolute;
    bottom: -14px;
    left: 60px; 
    font-size: 22px;
  }
  
  .top
  {
    position: absolute;
    top: 32px;
    left: 58px; 
    font-size: 22px;
  }
  
  h3
  {
    font-size: 14px; 
    padding-top: 30px;
    margin-top: 0;

    a
    {
      color: $headlineTextColor;
      text-decoration: none;
      
      &:hover
      {
        color: $primaryColor;
      }
    }
  }
  
  @media #{$small}
  {
    padding: $gutterWidth + 10 $gutterWidth $gutterWidth + 10 80px + $gutterWidth;
    
    .year
    {
      .content
      {
        margin-left: 20px;
        float: left;
      }
      
      i
      {
        display: inline-block;
      }
      
      .timeline
      {
        margin-right: $itemWidth + 15 - $border;
      }
      
      > div:nth-child(odd)
      {
        time
        {
          @include border-radius(0 60px 60px 60px);
        }
        
        .timeline
        {
          margin-right: 0;
          margin-left: $itemWidth + 15 - $border;
          border-right: none;
          border-left: 3px solid $textColor;
          padding-left: 15px - $border; 
        }
        
        .content
        {
          margin-left: 20px;
        }
      }
    }
  }
}