


html
{
  height: 100%;
  background: $lightColor;
}

body
{
  font-family: 'SegoeUI', 'Segoe UI', Arial, sans-serif; 
  font-size: 14px;
  line-height: 24px;
  color: $textColor;
  background: $lightColor;

  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; 
  
  min-height: 100%;
  width: 100%;
  
  overflow-x: hidden;
  
  @media #{$small} 
  {
    // adds the triangle background
    &:before
    {
      $size: 500px;
      
      @include css-triangle($size, darken($lightColor, 2%), right);
      @include rotate(45deg);
      position: absolute;
      top: -$size;
      left: -$size;
    }
  }
}


// Get rid of gap under images by making them display: inline-block; by default
img 
{ 
  display: inline-block; 
}


// this is our main container
#play
{
  position: relative;
  width: 100%;
  max-width: 100%;
  
  // site header
  > header
  {
    height: 100px;
    line-height: 100px;
    background: $darkColor;
    padding: 0 20px;
    overflow: hidden;
    @extend %clearfix;
    
    h1
    {
      font-size: 24px;
      height: 100%;
    }
    
    img
    {
      height: 46px; // downscale for high-res displays
      margin: 0 0 -15px 15px;
      @extend %shortTransition;
    }
    
    span 
    {
      float: left;
    }
    
    h2 
    {
      color: $darkTextColor;
      font-size: 18px;
      position: absolute;
      left: -9999px;
    }
    
    a
    {
      color: lighten($lightColor, 2%);
      display: inline-block;
      height: 100%;
      @extend %resetLink;
      
      &:hover
      {
        img
        {
          @include scale(1.2);
        }
      }
    }
  }
  
  // site footer
  > footer
  {
    background: lighten($lightColor, 2%);
    position: relative;
    
    .bottom
    {
      height: 40px;
      line-height: 40px;
      width: 100%;
      text-align: center;
      color: lighten($textColor, 30%);
      font-size: 13px;
      border-top: 1px solid darken($lightColor, 2%);
      
      a
      {
        text-decoration: none;
      }
    }
    
    div
    {
      padding: 0 20px;
    }
    
    .stories
    {
      padding: 100px 20px 30px 20px;
      
      h4
      {
        color: $headlineTextColor;
        font-size: 18px;
        margin-bottom: 20px;
      }
      
      a
      {
        display: block;
        text-decoration: none;
        font-size: 13px;
        color: $textColor;
        margin-top: 5px;
        
        &:first-child
        {
          margin-top: 0;
        }
        
        &:hover
        {
          color: $primaryColor;
        }
      }
      
      i
      {
        margin-right: 10px;
        color: $primaryColor;
      }
    }
    
    .twitter
    {
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -30px;
      font-size: 60px;
      text-decoration: none;
      color: $primaryColor;
      @extend %resetLink;
    }
  }
  
  // content area
  #area
  {
    background: white;
  }
  
  // navigation
  > nav
  {
    background: darken($darkColor, 5%);
    height: 50px;
    line-height: 50px;

    a
    {
      display: inline-block;
      height: 100%;
      padding: 0 20px;
      text-decoration: none;
      color: lighten($lightColor, 2%);
      float: left;
      border-bottom: 3px solid transparent;
      
      &:hover
      {
        border-bottom-color: $primaryColor;
      }
    }
  }
  
  
  @media #{$small} 
  {
    margin: 0 auto;
    padding-top: 70px;
    width: $siteWidth;
    
    > header
    {
      padding: 0 $gutterWidth;
      height: 200px;
      line-height: 220px;
      
      h1 
      {
        float: left;
      }
      h2 
      {
        float: left;
        margin-left: 20px;
        position: static;
        left: auto;
      }
    }
    
    > nav
    {
      padding: 0 30px;
    }
    
    > footer
    {
      div
      {
        padding: 0 50px;
      }
      
      .bottom
      {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
      }
      
      .stories
      {
        padding: 30px 50px;
      }
      
      .twitter
      {
        left: auto;
        right: 50px;
        top: 65px;
        margin-left: 0;
      }
    }
  }
  
  @media #{$medium} 
  {
    left: -10%;
  }
}


// back to top link
#backtotop
{
  display: none;
  
  @media #{$small}
  {
    display: block;
    position: absolute;
    left: -115px;
    bottom: 150px;
    background: white;
    width: 170px;
    height: 50px;
    color: $primaryColor;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    i:before
    {
      font-size: 20px;
      line-height: 50px;
      padding-left: 25px;
      display: inline-block;
    }
    
    &:hover
    {
      left: 0;
    }
  }
}