
#blogPost
{
  background: white;
  
  > h1
  {
    color: white;
    background: $primaryColor;
    line-height: 1.2;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  article
  {
    padding: 20px;
  }
  
  @media #{$small}
  {
    > h1
    {
      font-size: 22px;
      padding: 20px $gutterWidth;
    }
      
    article
    {
      padding: $gutterWidth + 10 $gutterWidth $gutterWidth + 10 80px + $gutterWidth;
    }
  }
}


#blogComments
{
  background: white;
  margin-top: 1px;
  padding: 20px;
  
  @media #{$small}
  {
    margin-top: 40px;
    padding: $gutterWidth + 10 $gutterWidth $gutterWidth + 10 80px + $gutterWidth;
  }
}