
#blog
{
  padding: 20px;
  
  article
  {
    margin-top: 70px;
    
    &:first-child
    {
      margin-top: 0;
    }
  }
  
  time
  {
    color: $primaryColor;
    display: block;
  }
  
  .navigation
  {
    margin: 70px -20px 0;
    @extend %clearfix;
    
    a
    {
      display: inline-block;
      height: 54px;
      line-height: 54px;
      text-transform: uppercase;
      text-decoration: none;
      background: lighten($lightColor, 2%);
      padding: 0 25px;
      float: left;
      color: $headlineTextColor;
      font-weight: 500;
      
      &:hover
      {
        background: darken($lightColor, 3%);
      }
      
      &:first-child
      {
        margin-right: 10px;
      }
    }
    
    i
    {
      font-size: 20px;
      float: left;
      
      &.entypo-left-open
      {
        margin-right: 20px;
      }
    }
  }
  
  @media #{$small} 
  {
    padding: $gutterWidth + 10 $gutterWidth;
    
    time
    {
      position: absolute;
      left: -80px;
      top: 5px;
      width: 60px;
      height: 45px;
      border: 1px solid $lightColor;
      text-align: center;
      line-height: 1;
      color: lighten($textColor, 10%);
      
      .month
      {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        
        &:before
        {
          display: none;
        }
      }
      
      .day
      {
        font-size: 20px;
      }
    }
    
    .navigation
    {
      margin-left: -$gutterWidth;
    }
  }
}