
#error
{
  padding: 20px;
  background: white;
  overflow: hidden; 
  position:  relative;

  p
  {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.1;
    padding-left: 150px;
    margin: 55px 0 60px 0;
  }
  
  h5
  {
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    color: $primaryColor;
    position: absolute;
    left: -20px;
    top: $gutterWidth + 10;
  }
  
  @media #{$small} 
  {
    padding: $gutterWidth + 10 $gutterWidth $gutterWidth + 10 80px + $gutterWidth;
    
    p
    {
      font-size: 48px;
      padding-left: 50px;
      margin: 10px 0 0 0;
    }
  }
}