
// this is our main container
#play
{
  position: relative;
  width: 100%;
  max-width: 100%;
  
  // site header
  > header
  {
    height: 100px;
    line-height: 100px;
    background: $darkColor;
    padding: 0 20px;
    @extend %clearfix;
    
    h1
    {
      color: lighten($lightColor, 2%);
      font-size: 24px;
      height: 100%;
    } 
    
    img
    {
      height: 46px; // downscale for high-res displays
      margin: 0 0 -15px 15px;
    } 
    
    span 
    {
      float: left;
    }
    
    h2 
    {
      color: $darkTextColor;
      font-size: 18px;
      position: absolute;
      left: -9999px;
    }
  }
  
  // site footer
  > footer
  {
    height: 60px;
    line-height: 60px;
    background: darken($lightColor, 5%);
  }
  
  // content area
  #area
  {
    background: white;
  }
  
  @media #{$small} 
  {
    margin: 0 auto;
    padding-top: 70px;
    width: $siteWidth;
    
    > header
    {
      padding: 0 $gutterWidth;
      height: 230px;
      line-height: 230px;
      
      h1 
      {
        float: left;
      }
      h2 
      {
        float: left;
        margin-left: 20px;
        position: static;
        left: auto;
      }
    }
    
    > footer
    {
      height: 200px;
      line-height: 200px;
    }
  }
  
  @media #{$medium} 
  {
    left: -10%;
  }
}