// site footer
#play > footer
{
  background: lighten($lightColor, 8%);
  position: relative;
  
  .bottom
  {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    color: $textColor;
    font-size: 12px;
    border-top: 1px solid lighten($lightColor, 2%);
    
    a
    {
      text-decoration: none;
      color: $textColor;
      font-weight: 500;
    }
  }
  
  div
  {
    padding: 0 20px;
  }
  
  .stories
  {
    padding: 20px 20px 30px 20px;
    
    h4
    {
      color: $headlineTextColor;
      font-size: 18px;
      margin-bottom: 20px;
    }
    
    a
    {
      display: block;
      text-decoration: none;
      font-size: 13px;
      color: $textColor;
      margin-top: 5px;
      
      &:first-child
      {
        margin-top: 0;
      }
      
      &:hover
      {
        color: $primaryColor;
      }
    }
    
    i
    {
      margin-right: 10px;
      color: $primaryColor;
    }
  }
  
  .social
  {
    position: relative;
    padding: 0;
    padding-top: 20px;
    text-align: center;

    a
    {
      display: inline-block;
      @extend %resetLink;
      width: 36px;
      height: 36px;
      line-height: 36px;
      background: $primaryColor;
      margin-left: 5px;
      color: white;
      font-size: 18px;
      text-decoration: none;
      text-align: center;
      @include border-radius(50px);

      &:first-child
      {
        margin-left: 0;
      }
      
      &.twitter { background: #00aced; }
      &.rss { background: #ff6502; }
      &.github { background: #211f1f; }
      &.dribbble { background: #ea4c89; }
    }
  }
  
  @media #{$small}
  {
    div
    {
      padding: 0 50px;
    }
    
    .bottom
    {
      height: 50px;
      line-height: 50px;
      font-size: 14px;
    }
    
    .stories
    {
      padding: 30px 50px;
    }
    
    .social
    {
      position: absolute;
      left: auto;
      right: 50px;
      top: 60px;
      margin: 0;
      font-size: 32px;
    }
  }
}