html
{
  height: 100%;
  background: $lightColor;
}

body
{
  font-family: 'SegoeUI', Arial, sans-serif; 
  font-size: 14px;
  line-height: 24px;
  color: $textColor;
  background: lighten($lightColor, 2%);

  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -ms-touch-action: double-tap-zoom;
  
  min-height: 100%;
  width: 100%;
  
  overflow-x: hidden;
}

// content area
#area
{
  position: relative;
}


// Get rid of gap under images by making them display: inline-block; by default
img 
{ 
  display: inline-block; 
}


// this is our main container
#play
{
  position: relative;
  width: 100%;
  max-width: 100%;
}


// back to top link
#backtotop
{
  display: none;
  position: absolute;
  left: -115px;
  bottom: 150px;
  background: white;
  width: 170px;
  height: 50px;
  color: $primaryColor;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  i:before
  {
    font-size: 20px;
    line-height: 50px;
    padding-left: 25px;
    display: inline-block;
  }
  
  &:hover
  {
    left: 0;
  }
}


@media #{$small}
{
  // adds the triangle background
  body:before
  {
    $size: 500px;
    
    @include css-triangle($size, lighten($lightColor, 4%), right);
    @include rotate(45deg);
    position: absolute;
    top: -$size;
    left: -$size;
  }
  
  #backtotop
  {
    display: block;
  } 
  
  #play
  {
    margin: 0 auto;
    padding-top: 70px;
    width: $siteWidth;
  }
}


@media #{$medium} 
{
  #play
  {
    left: -10%;
  }
}