@{
    ViewBag.Title = "archive - frontendplay";
}

<div id="archive">
  <div class="year">
    <time datetime="2012-03-10T13:58Z">2013</time>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">MAR</span>
            <span class="day">10</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">Game Designer Launches Global Online Game on Windows Azure</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">MAR</span>
            <span class="day">08</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">New Add-ons in the Windows Azure Store</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">FEB</span>
            <span class="day">28</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">Windows Azure Store: Expanded Availability</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
            
    <span class="bottom entypo-record"></span>
    <span class="top entypo-cd"></span>
  </div>
          
  <div class="year">
    <time datetime="2012-03-10T13:58Z">2012</time>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">MAR</span>
            <span class="day">10</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">Game Designer Launches Global Online Game on Windows Azure</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">MAR</span>
            <span class="day">08</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">New Add-ons in the Windows Azure Store</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">FEB</span>
            <span class="day">28</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">Windows Azure Store: Expanded Availability</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">MAR</span>
            <span class="day">08</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">New Add-ons in the Windows Azure Store</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
    <div>
      <div class="timeline">
        <time datetime="2012-03-10T13:58Z">
          <a href="detail.html">
            <span class="month entypo-clock">FEB</span>
            <span class="day">28</span>
          </a>
        </time>
      </div>
      <div class="content">
        <h3><a href="detail.html">Windows Azure Store: Expanded Availability</a></h3>
        <i>written by Tobias Klika</i>
      </div>
    </div>
            
    <span class="bottom entypo-record"></span>
    <span class="top entypo-cd"></span>
  </div>
</div>