
@mixin fontFace( $name, $filename, $weight: false, $style: false) 
{
  @font-face 
  {
    font-family: quote($name);
    
    src: font-url("#{$filename}.eot#{$staticVersioning}");
    src: local('☺'), font-url("#{$filename}.eot?#iefix") format("embedded-opentype"),
		 font-url("#{$filename}.ttf#{$staticVersioning}") format("truetype"),
		 font-url("#{$filename}.woff#{$staticVersioning}") format("woff"),
		 font-url('#{$filename}svg#{$staticVersioning}#fix') format('svg');

    @if $weight
    {
      font-weight: $weight;
    }
    @if $style 
    {
      font-style: $style;
    }
  }
}