
article
{
  position: relative;
  
  > div
  {
    position: relative;
  }
  
  h2, h3
  {
    color: $headlineTextColor;
    
    a
    {
      color: $headlineTextColor;
      text-decoration: none;
      
      &:visited
      {
        color: $headlineTextColor;
      }
      
      &:hover, &:visited:hover
      {
        color: $primaryColor;
      } 
    }
  }
  
  .button, .lightButton
  {
    margin-top: 20px;
  }
  
  code, pre
  {
    font-size: 12px;
    line-height: 1.3;
  }
  
  i.note
  {
    display: block;
    margin-top: 40px;
    color: lighten($textColor, 20%);
  }

  @media #{$small}
  {
    padding-left: 80px;
    
    code, pre
    {
      margin-right: -50px !important;
      border-right: none !important;
    }
  }
}