
html
{
  height: 100%;
  background: $lightColor;
}

body
{
  font-family: 'SegoeUI';
  font-size: 14px;
  line-height: 24px;
  color: $textColor;
  background: $lightColor;

  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none; 
  
  height: 100%;
  width: 100%;
  
  overflow-x: hidden;
  
  // adds the triangle background
  &:before
  {
    $size: 500px;
    
    @include css-triangle($size, darken($lightColor, 2%), right);
    @include rotate(45deg);
    position: absolute;
    top: -$size;
    left: -$size;
  }
}


// Get rid of gap under images by making them display: inline-block; by default
img 
{ 
  display: inline-block; 
}


// default link style
// mainly used for paragraphs
a
{
  color: $primaryColor;
  text-decoration: underline;
  outline: 1px dotted transparent;
  @extend %shortTransition;
  
  &:link, &:hover, &:visited
  {
    outline: 1px dotted transparent;
  }
  &:hover
  {
    color: darken($primaryColor, 10%);
  }
  &:visited
  {
    color: desaturate(lighten($primaryColor, 30%), 20%);
  }
  &:focus
  {
    outline-color: desaturate(lighten($primaryColor, 30%), 20%);
  }
}