@model frontendplay.ViewModels.DefaultViewModel
@using frontendplay.Utilities

<div class="stories">
  <h4>Recent stories</h4>
  @foreach (var item in Model.recentPosts)
  {
    var url = Url.Action("Post", new { title = UrlEncoder.ToFriendlyUrl(item.Title), id = item.ID, year = item.Year, month = item.SMonth });
    
    <a href="@url">
      <i class="entypo-right-open"></i>
      &nbsp;@Html.DisplayFor(_ => item.Title)
    </a>
  }
</div>