
body
{
  font-family: 'SegoeUI';
  @include box-sizing(border-box);
  color: $textColor;
}


a
{
  color: $mainColor;
  text-decoration: underline;
  @extend %shortTransition;
  
  &:hover
  {
    color: darken($mainColor, 10%);
  }
  &:visited
  {
    color: desaturate(lighten($mainColor, 30%), 20%);
  }
}