
$primaryColor: #40b0c1;

$darkColor: darken(#2d3538, 5%); 

$lightColor: #e2e5e7;

$textColor: #82878a;

$darkTextColor: #4c5a5f;

$headlineTextColor: #3a3a3a;

$lightButtonColor: #9fa4a6;

$errorColor: #ff633f;